@using System.Web.Optimization

@model BusinessManager.Models.PageDataModel

@{
    ViewBag.Title = "Página Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edición de Página</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Página</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name, new { maxLength = 100 })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            <textarea class="ckeditor" name="Content">@if (Model != null)
                                                      { @Model.Content;
                                                      }</textarea>
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FeaturedImage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FeaturedImage, new { maxLength = 45 })
            @Html.ValidationMessageFor(model => model.FeaturedImage)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MainImage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MainImage, new { maxLength = 45 })
            @Html.ValidationMessageFor(model => model.MainImage)
        </div>

        @Html.HiddenFor(model => model.ID)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{ @Scripts.Render("~/Scripts/ckeditor/ckeditor.js") }