@using System.Web.Optimization

@model BusinessManager.Models.UserDataModel

@{
    ViewBag.Title = "Usuario Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edición de Usuario</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuario</legend>

        
	<div class="editor-label">
	 @Html.LabelFor(model => model.Name)
	</div>
	<div class="editor-field">
	 @Html.EditorFor(model => model.Name, new { maxLength = 50 })
	 @Html.ValidationMessageFor(model => model.Name)
	</div>
	<div class="editor-label">
	 @Html.LabelFor(model => model.Email)
	</div>
	<div class="editor-field">
	 @Html.EditorFor(model => model.Email, new { maxLength = 45 })
	 @Html.ValidationMessageFor(model => model.Email)
	</div>
	<div class="editor-label">
	 @Html.LabelFor(model => model.Password)
	</div>
	<div class="editor-field">
	 @Html.EditorFor(model => model.Password, new { maxLength = 45 })
	 @Html.ValidationMessageFor(model => model.Password)
	</div>

        @Html.HiddenFor(model => model.ID)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

