@model List<BusinessManager.Models.UserDataModel>

@{
    ViewBag.Title = "Usuario Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Usuario</h2>

<h1 class="block">Administracion de Usuario</h1>
<div class="column1-unit">
    <table>
        <tr>
            
	<th class="top" scope="col">ID</th>
	<th class="top" scope="col">Name</th>
	<th class="top" scope="col">Email</th>
	<th class="top" scope="col">Password</th>         
            <th class="top" scope="col"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                
	<td scope="row">@item.ID</td>
	<td scope="row">@item.Name</td>
	<td scope="row">@item.Email</td>
	<td scope="row">****</td>                
                <td>@Html.ActionLink("Edit", "Edit", new { id=item.ID })</td>
            </tr>
        }
    </table>
    
</div>
<hr class="clear-contentunit" />

<div>
    @Html.ActionLink("Crear Usuario", "Create")
</div>